*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    background-image: url(mercado.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    height: 100vh;
    gap: 10%;
    margin-inline: auto;
    color: white;

}
main#container{
    max-width: 1280px;
    max-height: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#content{
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 120px 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.65);
    gap: 35px;

}
.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forms input{
    padding: 12px;
    border-radius: 5px;
    
}
#flex{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.back{
    position: absolute;
    height: 30px;   
}

.back:hover{
    height: 40px;
    transition: 1s;

}
.inputBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.cardButton{
    padding: 5% 17%;
    border-radius: 10px;
}
#cardButton:hover{
    opacity: 85%;
    transition: 0.5s;
    cursor: pointer;
}

#tableContainer{
    margin-top: 85px;
    color: black;
    height: fit-content;
}
#table{
    border-collapse: collapse;
    background: #FFFFF0;
}

#table thead{
    background-color: rgb(117, 144, 231);
    border-bottom: 2px solid rgb(0, 0, 0);

}
.tableColumn{
    padding: 8px;
    min-width: 100px;
}

#tbody{
    background-color: #FFFFF0;
}

@media (max-width: 900px ){
    #flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body{

        background-image: url(mercado.png);
        background-repeat: no-repeat;
        background-size: cover;
    }


}